.menu {
  padding-left: 45px;
  padding-right: 45px;
  background-color: #fff;
}

.menuSection {
  padding-top: 20px;
}

.menuSection p {
  color: #3d4853;
  font-size: 18px;
  font-weight: 600;
}

.logo {
  color: #FE2047;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  padding-top: 45px;
}
