.menu {
  padding-left: 45px;
  padding-right: 45px;
  background-color: #fff;
}

.menuSection {
  padding-top: 10px;
}

.menuSection p {
  color: #3d4853;
  font-size: 18px;
  font-weight: 600;
}

.logo {
  color: #FE2047;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  padding-top: 25px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.directionImg {
  height: 15px;
  width: 15px;
}

.colorPicker {
  width: 80px;
  height: 35px;
  display: inline-block;
  box-shadow: 0 0 0 1px #f1f4f8;
  margin-right: 5px;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
