.menu {
  width: 20vw;
  height: 100vh;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #fff;
}

.logo {
  color: #FE2047;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  padding-top: 45px;
}
