.button {
  color: #3d4853;
  border: 2px solid #f1f4f8;
  margin: 4px 2px;
  cursor: pointer;
  padding: 6px 12px;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
}

.selected {
  background-color: #f1f4f8;
}
